.profile__container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: "aside main";
    height: 100vh;
}

.aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    background-color: #9fafd2;
    color: #fff;
}

.aside__content {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.aside__content h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.aside__content p {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.aside__content button {
    background-color: #fff;
    color: #9fafd2;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.aside__content button:hover {
    background-color: #9fafd2;
    color: #fff;
}

.aside__content button:active {
    background-color: #9fafd2;
    color: #fff;
}

